
 .header {
    background:rgba(255, 113, 67, 0.27);
    padding: 38px 0 47px 0;
 }
 .container {
   max-width: 1070px;
   margin: 0 auto;
 }


.nav_li {
   display: inline-block;
   text-decoration: none;
 
}
.nav_li:not(:first-of-type){
   margin-left: 49px;
}
.nav_link {
   font-weight: 700;
   font-size: 15px;
   line-height: 20px;
   letter-spacing: -0.468947px;
   color: #696871;
   text-decoration: none;
}
.nav_link:hover {
   color: #000;
   transition: 300ms;
}
.button {
   width: 212px;
   height: 60px;
   font-weight: 700;
   font-size: 17px;
   line-height: 22px;
   letter-spacing: -0.531474px;
   color: #FFFFFF;
   border: none;
   border-radius: 10px;
   cursor: pointer;
}
.button_orange {
   background-color: #FF7143;
}
.button_orange:hover {
   background-color: #fa8c67;
   transition: 500ms;
}
.about_text {
   font-weight: 700;
   font-size: 80px;
   line-height: 77px;
   letter-spacing: -2.50105px;
   color: #19191B;
   max-width: 467px;
   margin-bottom: 30px;

}
.about_p {
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: -0.625263px;
   color: #696871;
   max-width: 465px;
   margin-bottom: 50px;
}

.button_violet {
   background-color: #5454D4;
}
.button_violet:hover {
   background-color: #6262d8;
   transition: 500ms;
}
.button_none {
   background-color: none;
   color: #5454D4;
   border: 1px solid #5454D4;
   margin-left: 35px;
}
.button_none:hover {
   background-color: #a0a0df;
   transition: 500ms;
}
.footer {
   padding-top: 35px;
}

.flax_header, .about, .flex_footer, .form, .box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   }
.about {
   margin: 104px auto 85px;
}
.form__title {
   font-weight: 700;
   font-size: 50px;
   line-height: 57px;
   letter-spacing: -1.56316px;
   color: #19191B;
}
.form {
   margin-bottom: 85px;
}
.input {
   width: 302px;
   height: 60px;
   border: 1px solid #7087FF;
   border-radius: 10px;
   margin-right: 39px;
   padding-left: 14px;
   box-sizing: border-box;
}
.input::placeholder, .input{
   font-weight: 700;
   font-size: 17px;
   line-height: 22px;
   letter-spacing: -0.531474px;
   color: #000000;
}
.input:focus {
   outline: none;
}
.title_price {
   font-weight: 700;
   font-size: 60px;
   line-height: 70px;
   letter-spacing: -1.87579px;
   color: #19191B;

   width: 504px;
   margin-bottom: 98px;
}
.box_price {
   max-width: 330px;
   background-color: #F8F8F8;
   border-radius: 10px;
   text-align: center;
   padding: 34px 22px 27px;
  
   }

.box_p {
   margin: 0px;
   font-weight: 400;
   font-size: 18px;
   letter-spacing: -0.562737px;
   color: #696871;
}
.box_price > h3{
   font-weight: 700;
   font-size: 60px;
   letter-spacing: -1.03448px;
   margin: 22px 0px 28px;
  }
.box_price span {
   font-size: 28px;
}
.ul_price {
   padding: 0;
   margin: 0px;
  
}
.li_price {
   list-style: none;
   font-weight: 400;
   line-height: 50px;
   font-size: 17px;
   letter-spacing: -0.531474px;
   color: #696871;
  
}
.box_button {
   width: 285px;
   height: 60px;
   color: #5454D4;
   font-weight: 700;
   font-size: 17px;
   line-height: 22px;
   letter-spacing: -0.531474px;

   background: #FFFFFF;
   border: 1px solid #EAE9F2;
   border-radius: 10px;
   margin-top: 36px;
}
.box_price:hover {
   background: #FF7143;
   color: #FFFFFF;
   transition: 500ms;
   cursor: pointer;
   ;
}
.box_price:hover .box_button {
   background: #9F3919;
   border: 0px;
   color: #FFFFFF;
   transition: 500ms;
   cursor: pointer;
}
.box_price:hover .box_p, .box_price:hover .li_price {
   color: white;
   transition: 500ms;
}